 .required {
     color: #FA2F04;
}
.m-section .m-section__content {
    background: #fff;
}
/*REPORT TUNG TRAN*/
body {
    font-size: 13.3px;
}
.m-form .m-form__heading .m-form__heading-title {
    color: #000;
    font-weight: 500;
    font-size: 1.6rem;
}
.m-wizard.m-wizard--3 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-label {
    color: #0a0a0a;
}
.m-form .m-form__group .col-form-label, .m-form .m-form__group > label {
    color: #000000;
}
input {
    font: 300 13.4px Arial;
}
.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__progress .progress .progress-bar {
    background-color: #62ecd1;
}
.m-wizard.m-wizard--3.m-wizard--success .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info a.m-wizard__step-number > span {
    background-color: #62ecd1;
}
.contact-form {
    padding: 0px !important;
}
.button-contact {
    padding-top: 0px !important;
}
.m-portlet .m-portlet__body {
    color: #000;
}
.m-widget4__item .m-widget4__title {
    color: #000;
}
.m-widget5 .m-widget5__item .m-widget5__title {
    color: #000;
}
.m-widget5 .m-widget5__item .m-widget5__stats1 .m-widget5__number {
    color: #000;
}
.m-widget5 .m-widget5__item .m-widget5__stats2 .m-widget5__number {
    color: #000;
}
.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #000;
}
.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__title {
    font-size: 1.15rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .input-group-append {
        padding-top: 13px;
    }
    .form-group input {
        padding-top: 13px;
    }
}
/*END REPORT TUNG TRAN*/
/*CUSTOMER TUNG TRAN*/
.mt-3 {
     margin-top: 4px !important;
}
.m-radio {
    color: #000;
}
.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
}
/*END CUSTOMER TUNG TRAN*/
/*PROJECT TUNG TRAN*/
.m-wizard__step-number {
    color: #62ecd1;
}
.m-wizard.m-wizard--1.m-wizard--success .m-wizard__progress .progress .progress-bar {
    color: #62ecd1;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-label {
    color: #000000;
}
.m-form .m-form__help {
    color: #000000;
    font-weight: 200;
}
.has-danger .form-control-feedback {
    color: #fb0101;
}
.m-form .m-form__group {
    padding-top: 0px;
}
 .input-placeholder {
     position: relative;
 }
 .input-placeholder input {
     padding: 0.65rem 1rem;
     font-size: 1rem;
     font-family: sans-serif, Arial;
     line-height: 1.25;
 }

 .placeholder {
     font-family: sans-serif, Arial;
     position: absolute;
     pointer-events: none;
     top: 0;
     bottom: 0;
     height: 25px;
     font-size: 1rem;
     left: 15px;
     margin: auto;
     color: #9699a2;
     font: 300 13.4px Arial;
     padding-top: 6px;
 }

 .placeholder span.required_2 {
     color: red;
 }

 .placeholder span.placeName {
     padding-top: 20px;
 }
 .rTable {
     display: block;
     width: 100%;
 }
 .rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
     clear: both;
 }
 .rTableHead, .rTableFoot{
     background-color: #DDD;
     font-weight: bold;
 }
 .rTableCell, .rTableHead {
     border: 1px solid #999999;
     float: left;
     height: 25px;
     overflow: hidden;
     padding: 3px 1.8%;
     width: 28%;
 }
 .rTable:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
/*END PROJECT TUNG TRAN*/
 /*NOTIFICATION TUNG TRAN*/
 .show-notifications {
     position: relative;
 }
 .notifications-count {
     border-radius: 50%;
     background: #f48120;
     color: #ffffff;
     font: normal .85em 'Lato';
     height: 16px;
     line-height: 1.75em;
     position: absolute;
     right: 1.1em;
     text-align: center;
     top: 1.4em;
     width: 16px;
 }
 @media screen and (max-width: 1102px) {
     .notifications-count {
         right: 0.5em;
         text-align: center;
         top: 3.0em;
     }
 }
 /*END NOTIFICATION TUNG TRAN*/